body {
  background-color: black;
}
.header{
  display: flex;
  justify-content: space-around;;
  color: white;
  font-size: 30px;
  width:100vw;
  border-bottom: solid 6px white;

}
#headerimg{
  height: 35px;
}
.footer{
  color:white;
  height:25px;
  width:100vw;
  border-top: solid 6px white;
}
a span{
    color:blue;
    font-size:30px;
}

a:hover span{
    font-weight:bold;
}

a:hover{
    text-decoration:underline;
}
